body { 
    background-image: url("../images/background-img.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Vollkorn', serif;
}

.nav-wrapper{
    background-color: #01579b !important;
   }

   #logo-image {
    height: 64px;
}

#map, .cityImage, #map0, #map1, #map2, #map3, #map4 {
    height: 200px;
    width: 200px;
  }


#mapLarge {
    height: 500px;
    width: 80%;
    margin: auto;
}