body { 
    background-image: url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Vollkorn', serif;
}

.material-icons, .icon-text {
    vertical-align: middle;
  }
  
.nav-wrapper{
    background-color: #01579b !important;
   }
 
   #logo-image {
    height: 64px;
 }
 
 .halfway-fab {
    background-color: #01579b !important;
 }
 
 input[type=range]::-webkit-slider-thumb {
    background-color: #01579b;
  }
  /* input[type=range]::-moz-range-thumb {
    background-color: #01579b;
  } */
  /* input[type=range]::-ms-thumb {
    background-color: #01579b;
  } */
 
  input[type=range] + .thumb {
    background-color: #01579b;
  }
 
  .switch label input[type=checkbox]:checked+.lever {
    background-color: #42a5f5;
  }
 
  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #01579b;
  }
 
  .btn-flat:hover {
    background-color: #42a5f5 !important;
  }
  .btn-flat:active{
    background-color: #42a5f5!important;
  }
  .btn-flat:focus{
    background-color: #42a5f5!important;
  }


#mapLarge {
    height: 500px;
    width: 80%;
    margin: 2rem auto;
}


#resultsCardTitle{
    font-size: 3rem;
}

#resultsCard{
    text-align: left;
}



#months {
    height: 250px;
}

.cityImage {
    height: 200px;
    width: 200px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.map{
    float: right;
}

.activeCard {
    font-size: 1.5rem;
}

@media screen and (max-width: 640px){

    .map {
        float: none;
    }
}

