body {
    height: 100%;
    margin: 0;
    padding: 0;
}




#mapLarge {
    height: 500px;
    width: 80%;
    margin: 2rem auto;
}


#resultsCardTitle{
    font-size: 3rem;
}

#resultsCard{
    text-align: left;
}



.cityImage {
    height: 200px;
    width: 200px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.map{
    float: right;
}

.activeCard {
    font-size: 1.5rem;
}

@media screen and (max-width: 640px){

    .map {
        float: none;
    }
}

